.App {
  text-align: center;
  background-color: #00092a;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  border: 0;
}
.flex-row { 
  display: flex;
  background-color: #00092a;
}
.card { 
  width: 250px;
  height: 150px;
  background-color: #003a2a;
  justify-content: space-between;
  margin: 10px;
  color: #00b1cb
}
.list-inner {
  position: relative;
  top:30px;
}
.list-inner li {
  padding: 0px 15px;
  width: 130px;
  display: flex;
  justify-content: space-between;
}
.text-start {
  text-align: left;
  width: 60px;
}
.card img {
  position: relative;
  top: 30px;
  left: 20px;
}
.card-inner {
   width: 100%;
   justify-content: center;
}
.input-wrapper {
  color: #00b1a1;
  width: 90%;
}
.input-wrapper label {
  font-size: 25px;
  position: relative;
  top: -10px;
  color: #198754;
}
.input-wrapper h3 {
  text-align: center;
  width: 100%;
  margin: 15px;
}
.button-form {
  margin: 5px;
}
.button-checked {
  background-color: #003a2a;
}
.result {
  color: #198754;;
}
.cripto-card-logo-inner {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;
}
.cripto-card-logo-inner div {
  position: relative;
  left: 20px;
  color:#198754
}
/* .input-inner {
  display: flex;
  justify-content: center;
} */
@media screen and (max-width: 800px) {
  .card-inner {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
  }
}